@font-face {
  font-family: Geist Mono Variable;
  src: url('../fonts/GeistMono-VariableFont_wght.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter Variable;
  src: url('../images/') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color--black-100: #000;
  --color--text-100: #a4ac97;
  --text--default: var(--size--14px);
  --size--6px: .375rem;
  --gap--section-outer: var(--size--6px);
  --gap--section-horizontal: var(--size--80px);
  --size--32px: 2rem;
  --size--18px: 1.125rem;
  --size--24px: 1.5rem;
  --size--14px: .875rem;
  --size--40px: 2.5rem;
  --size--20px: 1.25rem;
  --size--60px: 3.75rem;
  --size--12px: .75rem;
  --size--4px: .25rem;
  --size--80px: 5rem;
  --size--8px: .5rem;
  --size--36px: 2.25rem;
  --size--16px: 1rem;
  --size--64px: 4rem;
  --size--28px: 1.75rem;
  --size--0px: 0rem;
  --color--white-100: white;
  --size--50px: 3.125rem;
  --size--100px: 6.25rem;
  --size--10px: .625rem;
  --gap--menu-list: var(--size--48px);
  --color--brand-100: #9dff00;
  --gap--socials-list: var(--size--8px);
  --color--brand-10: #9dff001a;
  --color--text-60: #a4ac9799;
  --text--small: var(--size--12px);
  --color--brand-50: #9dff0080;
  --color--background-100: #12140f;
  --color--background-60: #12140f99;
  --color--brand-16: #9dff0029;
  --gap--section-vertical: var(--size--40px);
  --gap--container-vertical: var(--size--20px);
  --size--52px: 3.25rem;
  --color--brand-20: #9dff0033;
  --size--120px: 7.5rem;
  --size--48px: 3rem;
  --size--2px: .125rem;
  --text--big: var(--size--16px);
  --color--brand-60: #9dff0099;
  --color--brand-40: #9dff0066;
  --size--150px: 9.375rem;
  --size--125px: 7.8125rem;
  --size--70px: 4.375rem;
  --size--56px: 3.5rem;
  --size--30px: 1.875rem;
}

body {
  background-color: var(--color--black-100);
  color: var(--color--text-100);
  font-family: Geist Mono Variable, Georgia, sans-serif;
  font-size: var(--text--default);
  text-transform: uppercase;
  line-height: 1.07;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.main-wrapper {
  left: auto;
  top: var(--gap--section-outer);
  right: var(--gap--section-outer);
  bottom: var(--gap--section-outer);
  z-index: 1;
  width: 50%;
  min-width: 55rem;
  padding: 8rem var(--gap--section-horizontal) var(--size--32px);
  transition: width .6s;
  position: absolute;
}

.t-18 {
  font-size: var(--size--18px);
}

.line-height--160 {
  line-height: 1.6;
}

.navbar__brand {
  z-index: 1;
  grid-column-gap: var(--size--24px);
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
  display: flex;
}

.global-css {
  display: none;
}

.mar-bot-125 {
  margin-bottom: 8.7em;
}

.t--capitalize {
  text-transform: uppercase;
}

.t--align-center {
  text-align: center;
}

.t-14 {
  font-size: var(--size--14px);
}

.colors-wrapper {
  margin-bottom: var(--size--40px);
  grid-column-gap: var(--size--20px);
  grid-row-gap: var(--size--20px);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.t-40 {
  font-size: var(--size--40px);
}

.t--regular {
  font-weight: 400;
}

.max-width-350 {
  max-width: 21.875rem;
}

.max-width-250 {
  max-width: 15.625rem;
}

.navbar {
  z-index: 999;
  padding-top: var(--size--60px);
  padding-right: 5.375rem;
  padding-left: var(--size--60px);
  background-color: #0000;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.mar-bot-12 {
  margin-bottom: var(--size--12px);
}

.mar-bot-4 {
  margin-bottom: var(--size--4px);
}

.t-80 {
  font-size: var(--size--80px);
}

.mar-bot-32 {
  margin-bottom: var(--size--32px);
}

.max-width-100 {
  max-width: 6.25rem;
}

.t-24 {
  font-size: var(--size--24px);
}

.t--extra-bold {
  font-weight: 800;
}

.t-8 {
  font-size: var(--size--8px);
}

.mar-bot-14 {
  margin-bottom: var(--size--14px);
}

.mar-bot-8 {
  margin-bottom: var(--size--8px);
}

.t--semi-bold {
  font-weight: 600;
}

.mar-bot-20 {
  margin-bottom: var(--size--20px);
}

.max-width-300 {
  max-width: 18.75rem;
}

.t--bold {
  font-weight: 700;
}

.max-width-450 {
  max-width: 28.125rem;
}

.max-width-950 {
  max-width: 59.375rem;
}

.t-32 {
  font-size: var(--size--32px);
}

.t-36 {
  font-size: var(--size--36px);
}

.mar-bot-16 {
  margin-bottom: var(--size--16px);
}

.t-20 {
  font-size: var(--size--20px);
}

.max-width-150 {
  max-width: 9.375rem;
}

.pos--relative {
  position: relative;
}

.mar-bot-64 {
  margin-bottom: var(--size--64px);
}

.c--black {
  background-color: var(--color--black-100);
}

.max-width-200 {
  max-width: 12.5rem;
}

.mar-bot-40 {
  margin-bottom: var(--size--40px);
}

.max-width-500 {
  max-width: 31.25rem;
}

.max-width-400 {
  max-width: 25rem;
}

.t--no-underline {
  text-decoration: none;
}

.t-28 {
  font-size: var(--size--28px);
}

.max-width-1050 {
  max-width: 65.625rem;
}

.mar-top-auto {
  margin-top: auto;
}

.mar-bot-18 {
  margin-bottom: var(--size--18px);
}

.t--light {
  font-weight: 300;
}

.line-height--120 {
  line-height: 1.2;
}

.color-block__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mar-bot-0 {
  margin-bottom: var(--size--0px);
}

.mar-bot-150 {
  margin-bottom: 10.5em;
}

.c--white {
  background-color: var(--color--white-100);
}

.t--align-end {
  text-align: right;
}

.mar-bot-50 {
  margin-bottom: var(--size--50px);
}

.t-50 {
  font-size: var(--size--50px);
}

.line-height--130 {
  line-height: 1.3;
}

.overflow--auto {
  overflow: auto;
}

.max-width-900 {
  max-width: 56.25rem;
}

.vertical-container {
  padding-top: var(--size--80px);
  padding-bottom: var(--size--80px);
}

.mar-bot-100 {
  margin-bottom: var(--size--100px);
}

.t-16 {
  font-size: var(--size--16px);
}

.line-height--140 {
  line-height: 1.4;
}

.mar-bot-80 {
  margin-bottom: var(--size--80px);
}

.line-height--180 {
  line-height: 1.8;
}

.line-height--170 {
  line-height: 1.7;
}

.color-block__wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.mar-bot-24 {
  margin-bottom: var(--size--24px);
}

.max-width-650 {
  max-width: 40.625rem;
}

.max-width-800 {
  max-width: 50rem;
}

.line-height--200 {
  line-height: 2;
}

.overflow--visible {
  overflow: visible;
}

.t-10 {
  font-size: var(--size--10px);
}

.navbar__brand-icon {
  width: var(--size--18px);
}

.color-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-radius: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  display: grid;
  overflow: hidden;
}

.color-block.text {
  height: 70px;
  margin-bottom: 0;
  position: relative;
}

.max-width-600 {
  max-width: 37.5rem;
}

.t-12 {
  font-size: var(--size--12px);
}

.t--medium {
  font-weight: 500;
}

.line-height--110 {
  line-height: 1.1;
}

.content-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.max-width-550 {
  max-width: 34.375rem;
}

.t--black {
  color: var(--color--black-100);
}

.line-height--100 {
  line-height: 1;
}

.t-60 {
  font-size: var(--size--60px);
}

.t-64 {
  font-size: var(--size--64px);
}

.max-width-700 {
  max-width: 43.75rem;
}

.max-width-1000 {
  max-width: 62.5rem;
}

.line-height--190 {
  line-height: 1.9;
}

.s-hero {
  padding-top: 10em;
}

.t--align-start {
  text-align: left;
  white-space: nowrap;
}

.mar-bot-28 {
  margin-bottom: var(--size--28px);
}

.line-height--150 {
  line-height: 1.5;
}

.mar-bot-36 {
  margin-bottom: var(--size--36px);
}

.overflow--hidden {
  overflow: hidden;
}

.horizontal-container {
  width: 100%;
  max-width: 90rem;
  padding-right: var(--size--80px);
  padding-left: var(--size--80px);
  margin-left: auto;
  margin-right: auto;
}

.horizontal-container.horizontal-container--navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.t--breaking-no-wrap {
  white-space: nowrap;
}

.max-width-750 {
  max-width: 46.875rem;
}

.t--white {
  color: var(--color--white-100);
}

.max-width-850 {
  max-width: 53.125rem;
}

.max-width-1100 {
  max-width: 68.75rem;
}

.mar-bot-60 {
  margin-bottom: var(--size--60px);
}

.max-width-1150 {
  max-width: 71.875rem;
}

.max-width-1200 {
  max-width: 75rem;
}

.navbar__menu {
  z-index: 1;
  position: static;
}

.navbar__menu-container {
  grid-column-gap: var(--gap--menu-list);
  grid-row-gap: var(--gap--menu-list);
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  list-style-type: none;
  display: grid;
}

.navbar__link {
  text-decoration: none;
  transition: color .3s;
}

.navbar__link:hover {
  color: var(--color--brand-100);
}

.navbar__menu-btn {
  z-index: 1;
}

.navbar__mobile-bg {
  left: var(--gap--section-outer);
  top: var(--gap--section-outer);
  right: var(--gap--section-outer);
  z-index: 0;
  transition: opacity .3s;
  display: none;
  position: absolute;
}

.navbar__mobile-bg.container {
  pointer-events: none;
}

.navbar__socials-list {
  left: var(--size--60px);
  grid-column-gap: var(--gap--socials-list);
  grid-row-gap: var(--gap--socials-list);
  flex-flow: column;
  display: flex;
  position: absolute;
  top: 100svh;
  transform: translateY(calc(-100% - 2rem));
}

.navbar__social-link {
  min-width: 4.125rem;
  padding-bottom: var(--gap--socials-list);
  border-bottom: 1px solid var(--color--brand-10);
  color: var(--color--text-60);
  font-size: var(--text--small);
  transition: border-color .3s, color .3s;
  display: inline-block;
}

.navbar__social-link:hover {
  border-bottom-color: var(--color--brand-50);
  color: var(--color--brand-100);
}

.container {
  background-image: linear-gradient(180deg, var(--color--background-100), var(--color--background-60));
  box-shadow: 0 0 0 1px var(--color--brand-16);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.video__wrp {
  width: 50%;
  height: 100svh;
}

.video__thumbnail {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content-wrp {
  padding-top: var(--gap--section-vertical);
  grid-row-gap: var(--gap--container-vertical);
  border-top: 1px solid var(--color--brand-16);
  flex-flow: column;
  display: flex;
}

.text-color--brand {
  color: var(--color--brand-100);
}

.text-height--extend {
  line-height: 1.4;
}

.startups-wrp {
  grid-column-gap: var(--size--60px);
  display: flex;
}

.project-card {
  border: 1px solid var(--color--brand-10);
  transition: border-color .3s;
  display: block;
  position: relative;
}

.project-card.project-card--logo:hover {
  border-top-color: var(--color--brand-100);
  border-bottom-color: var(--color--brand-100);
}

.project-card.project-card--portfolio {
  height: var(--size--100px);
  padding: var(--size--8px);
  color: var(--color--text-60);
  font-size: var(--text--small);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -1px;
  margin-left: -1px;
  transition: color .3s, border-color .3s;
  display: flex;
}

.project-card.project-card--portfolio:hover {
  border-color: var(--color--brand-20);
  color: var(--color--brand-100);
}

.project-card.project-card--portfolio.project-card--placeholder {
  justify-content: center;
  align-items: center;
}

.project-card.project-card--portfolio-showcase {
  height: var(--size--120px);
  padding: var(--size--8px);
  color: var(--color--text-60);
  font-size: var(--text--small);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -1px;
  margin-left: -1px;
  transition: color .3s, border-color .3s;
  display: flex;
}

.project-card.project-card--portfolio-showcase:hover {
  border-color: var(--color--brand-20);
  color: var(--color--brand-100);
}

.project-icon {
  height: var(--size--60px);
  transition: background-color .3s linear;
  display: block;
}

.project-icon.project-icon--startup {
  aspect-ratio: 1;
  object-fit: fill;
}

.project-icon.project-icon--startup:where(.w-variant-2d9c7e16-8c8b-b6e0-d0e4-effec15edea5) {
  width: var(--size--100px);
}

.project-icon.project-icon--startup.project-icon--egirl, .project-icon.project-icon--startup.project-icon--199x {
  width: var(--size--100px);
  aspect-ratio: auto;
}

.project-icon.project-icon--portfolio {
  width: var(--size--80px);
  height: var(--size--48px);
  transition: transform .3s, background-color .3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.project-icon.project-icon--partner {
  width: 100%;
  height: 4.375rem;
  transition: transform .3s, background-color .3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.startups-i {
  grid-row-gap: var(--size--16px);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.div-block {
  grid-column-gap: var(--size--20px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-color--white {
  color: var(--color--white-100);
}

.image {
  width: var(--size--12px);
}

.button {
  padding: var(--size--2px) var(--size--4px);
  background-color: var(--color--brand-100);
  color: var(--color--black-100);
  align-self: flex-start;
}

.portfolio-list {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.portfolio-list.protfolio-list--showcase {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1px;
}

.portfolio__data {
  opacity: 0;
  font-size: var(--text--small);
  transition: opacity .4s;
}

.heading {
  margin-top: auto;
}

.heading-2 {
  font-size: var(--text--big);
}

.about__p {
  max-width: 25rem;
  line-height: 1.4;
}

.main-wrapper--about {
  width: 60%;
}

.about__photo {
  width: 8.375rem;
}

.about__content {
  flex: 1;
}

.inline-link {
  color: var(--color--brand-100);
  transition: color .3s;
}

.inline-link:hover {
  color: var(--color--white-100);
}

.text-color--60 {
  color: var(--color--text-60);
}

.main-wrapper--investing {
  width: 85%;
}

.portfolio-tabs__menu {
  margin-bottom: var(--gap--container-vertical);
  grid-column-gap: var(--size--32px);
  grid-row-gap: var(--size--32px);
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.portfolio-tabs__menu-link {
  color: var(--color--text-100);
  background-color: #0000;
  padding: 0;
}

.portfolio-tabs__menu-link.w--current {
  color: var(--color--brand-100);
  background-color: #0000;
}

.main-content {
  grid-row-gap: var(--gap--section-vertical);
  flex-flow: column;
  height: 100%;
  padding: 1px;
  display: flex;
  overflow: auto;
}

.main-content.main-content--about {
  grid-column-gap: var(--gap--section-horizontal);
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.div-block-2 {
  padding-bottom: var(--gap--container-vertical);
  grid-column-gap: var(--size--16px);
  border-bottom: 1px solid var(--color--brand-16);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.resume-list {
  grid-row-gap: var(--gap--section-vertical);
  flex-flow: column;
  display: flex;
}

.resume-item {
  line-height: 1.4;
}

.resume-item__toggle {
  grid-column-gap: var(--size--12px);
  grid-row-gap: var(--size--6px);
  cursor: pointer;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  transition: color .3s;
  display: flex;
}

.resume-item__header {
  grid-column-gap: var(--size--16px);
  grid-row-gap: var(--size--12px);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.resume-item__title {
  color: var(--color--white-100);
  font-size: var(--text--big);
}

.resume-item__job-title {
  grid-column-gap: var(--size--24px);
  grid-row-gap: var(--size--4px);
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.resume-item__content {
  height: 0;
  overflow: hidden;
}

.resume-item__desc {
  padding-top: var(--size--16px);
}

.resume-item__desc p {
  margin-top: var(--size--8px);
  margin-left: var(--size--24px);
  text-transform: none;
  font-family: Inter Variable, Arial, sans-serif;
  line-height: 1.4;
}

.resume-item__desc ul {
  padding-left: var(--size--24px);
}

.resume-item__date {
  color: var(--color--white-100);
  flex: none;
  margin-left: auto;
}

.about__photo-wrp {
  position: relative;
}

.about__photo-overlay {
  position: absolute;
  inset: 0%;
}

.portfolio-swiper {
  overflow: hidden;
}

.portfolio-swiper__slide {
  flex: none;
  width: 100%;
}

.portfolio-swiper__pagination {
  grid-column-gap: var(--size--24px);
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.navbar__brand-name {
  width: 7.1875rem;
  margin-bottom: var(--size--16px);
}

.navbar__brand-tag {
  color: var(--color--brand-100);
}

.resume-item__toggle-text {
  grid-row-gap: var(--size--6px);
  cursor: pointer;
  flex-flow: column;
  flex: 1;
  transition: color .3s;
  display: flex;
}

.resume-item__toggle-icon {
  grid-column-gap: var(--size--12px);
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  body {
    --color--black-100: #000;
    --color--text-100: #a4ac97;
    --text--default: var(--size--12px);
    --size--6px: .375rem;
    --gap--section-outer: var(--size--6px);
    --gap--section-horizontal: var(--size--20px);
    --size--32px: 2rem;
    --size--18px: 1.125rem;
    --size--24px: 1.5rem;
    --size--14px: .875rem;
    --size--40px: 2.5rem;
    --size--20px: 1.25rem;
    --size--60px: 3.75rem;
    --size--12px: .75rem;
    --size--4px: .25rem;
    --size--80px: 5rem;
    --size--8px: .5rem;
    --size--36px: 2.25rem;
    --size--16px: 1rem;
    --size--64px: 4rem;
    --size--28px: 1.75rem;
    --size--0px: 0rem;
    --color--white-100: white;
    --size--50px: 3.125rem;
    --size--100px: 6.25rem;
    --size--10px: .625rem;
    --gap--menu-list: var(--size--14px);
    --color--brand-100: #9dff00;
    --gap--socials-list: var(--size--8px);
    --color--brand-10: #9dff001a;
    --color--text-60: #a4ac9799;
    --text--small: var(--size--12px);
    --color--brand-50: #9dff0080;
    --color--background-100: #12140f;
    --color--background-60: #12140f99;
    --color--brand-16: #9dff0029;
    --gap--section-vertical: var(--size--32px);
    --gap--container-vertical: var(--size--20px);
    --size--52px: 3.25rem;
    --color--brand-20: #9dff0033;
    --size--120px: 7.5rem;
    --size--48px: 3rem;
    --size--2px: .125rem;
    --text--big: var(--size--14px);
    --color--brand-60: #9dff0099;
    --color--brand-40: #9dff0066;
    --size--150px: 9.375rem;
    --size--125px: 7.8125rem;
    --size--70px: 4.375rem;
    --size--56px: 3.5rem;
    --size--30px: 1.875rem;
  }

  .page-wrapper {
    min-height: 100svh;
    padding-right: var(--size--6px);
    padding-left: var(--size--6px);
    flex-flow: column;
    display: flex;
  }

  .main-wrapper {
    width: 100%;
    min-width: 0;
    margin-bottom: var(--gap--section-outer);
    padding-top: var(--size--32px);
    padding-bottom: var(--size--32px);
    flex: 1;
    transition-property: none;
    position: static;
    overflow: visible;
  }

  .navbar__brand {
    z-index: 2;
    position: relative;
  }

  .navbar__brand.w--current {
    grid-column-gap: var(--size--18px);
  }

  .max-width-350 {
    max-width: 350px;
  }

  .max-width-250 {
    max-width: 250px;
  }

  .navbar {
    padding-top: var(--size--20px);
    padding-right: var(--size--20px);
    padding-left: var(--size--20px);
  }

  .max-width-100 {
    max-width: 100px;
  }

  .max-width-300 {
    max-width: 300px;
  }

  .max-width-450 {
    max-width: 450px;
  }

  .max-width-950 {
    max-width: 950px;
  }

  .max-width-150 {
    max-width: 150px;
  }

  .max-width-200 {
    max-width: 200px;
  }

  .max-width-500 {
    max-width: 500px;
  }

  .max-width-400 {
    max-width: 400px;
  }

  .max-width-1050 {
    max-width: 1050px;
  }

  .max-width-900 {
    max-width: 900px;
  }

  .vertical-container {
    padding-top: 5.7em;
    padding-bottom: 5.7em;
  }

  .max-width-650 {
    max-width: 650px;
  }

  .max-width-800 {
    max-width: 800vw;
  }

  .navbar__brand-icon {
    width: var(--size--12px);
  }

  .max-width-600 {
    max-width: 600px;
  }

  .max-width-550 {
    max-width: 550px;
  }

  .max-width-700 {
    max-width: 700px;
  }

  .max-width-1000 {
    max-width: 1000px;
  }

  .s-hero {
    padding-top: 14em;
  }

  .horizontal-container {
    padding-right: var(--size--20px);
    padding-left: var(--size--20px);
  }

  .max-width-750 {
    max-width: 750px;
  }

  .max-width-850 {
    max-width: 850px;
  }

  .max-width-1100 {
    max-width: 1100px;
  }

  .navbar__menu {
    width: 100%;
    padding-top: var(--size--32px);
    padding-bottom: var(--size--32px);
    text-align: left;
    background-color: #0000;
    flex: none;
    order: 1;
    padding-left: 3.2rem;
    position: absolute;
  }

  .navbar__menu-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .navbar__menu-btn {
    padding: 6px 0;
  }

  .navbar__menu-btn.w--open {
    background-color: #0000;
  }

  .navbar__menu-burger {
    width: var(--size--20px);
    flex-flow: column;
    justify-content: space-between;
    height: 8px;
    display: flex;
  }

  .navbar__menu-burger-line {
    background-color: var(--color--brand-100);
    width: 100%;
    height: 1px;
    padding: 0;
    transition: transform .3s, opacity .3s;
  }

  .navbar__mobile-bg {
    opacity: 0;
    height: 15rem;
    display: block;
  }

  .navbar__socials-list {
    margin-bottom: var(--size--32px);
    grid-column-gap: var(--gap--socials-list);
    grid-row-gap: var(--gap--socials-list);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: static;
    transform: translateY(0);
  }

  .video__wrp {
    width: auto;
    height: 17.75rem;
  }

  .startups-wrp {
    grid-column-gap: var(--size--52px);
  }

  .project-card.project-card--portfolio-showcase {
    height: var(--size--100px);
  }

  .project-icon.project-icon--startup {
    height: var(--size--40px);
  }

  .project-icon.project-icon--startup:where(.w-variant-2d9c7e16-8c8b-b6e0-d0e4-effec15edea5), .project-icon.project-icon--startup.project-icon--egirl, .project-icon.project-icon--startup.project-icon--199x {
    width: var(--size--64px);
  }

  .div-block {
    grid-column-gap: var(--size--4px);
  }

  .portfolio-list.protfolio-list--showcase {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main-wrapper--investing {
    width: 100%;
  }

  .main-content {
    height: auto;
    padding: 0;
    overflow: visible;
  }

  .navbar__brand-name {
    width: var(--size--80px);
    margin-bottom: var(--size--4px);
  }

  .navbar__brand-tag {
    font-size: var(--size--10px);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list.protfolio-list--showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-wrapper--about {
    flex-flow: column;
  }

  .resume-item__toggle {
    grid-row-gap: var(--size--12px);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .resume-item__header {
    padding-bottom: var(--size--12px);
    border-bottom: 1px solid var(--color--brand-16);
    flex-flow: wrap;
  }

  .resume-item__job-title {
    flex-flow: wrap;
  }

  .resume-item__date {
    margin-left: 0;
  }

  .resume-item__toggle-text {
    grid-row-gap: var(--size--12px);
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .colors-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .startups-wrp {
    grid-column-gap: var(--size--40px);
    grid-row-gap: var(--size--20px);
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .portfolio-list, .portfolio-list.protfolio-list--showcase {
    grid-template-columns: 1fr 1fr;
  }

  .main-content.main-content--about, .resume-item__job-title {
    flex-flow: column;
  }
}


@font-face {
  font-family: 'Geist Mono Variable';
  src: url('../fonts/GeistMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Variable';
  src: url('../fonts/Inter-VariableFont_opszwght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}